[core]
autoTriggerCooldownTime:0.1s
armour:0
strictLevel:0
[movement]
movementType:NONE
[hiddenAction_单位]
autoTrigger:true
temporarilyAddTags:单位
[hiddenAction_空中单位]
autoTrigger:if self.isFlying()
temporarilyAddTags:空军
[hiddenAction_陆军]
autoTrigger:if self.isAtGroundHeight()
temporarilyAddTags:陆军
[hiddenAction_修复错误陆军]
autoTrigger:if self.isFlying() and self.isMoving()
temporarilyRemoveTags:陆军

[resource_深渊灼烧]
displayName:深渊灼烧
displayColor:#66B3FF
hidden:false
[hiddenAction_深渊灼烧命中]
autoTrigger:if self.resource(type='深渊灼烧',greaterThan=0)
addResources: 深渊灼烧=-1, hp=-10000
[hiddenAction_混乱]
autoTrigger:if self.customTimer(laterThanSeconds=1) and self.resource(type='混乱',greaterThan=0)
clearAllWaypoints:true
addWaypoint_type:move
addWaypoint_position_randomOffsetFromSelf:100,100
addWaypoint_position_offsetFromSelf:0,0
addResources:混乱=-1
[resource_混乱]
displayName:混乱
displayColor:#66B3FF
hidden:false
[hiddenAction_威胁指数增加]
autoTriggerOnEvent:created
addResources:威胁指数=${core.price / 7500}
[hiddenAction_威胁指数减少]
autoTriggerOnEvent:destroyed
addResources:威胁指数=-${core.price / 7500}
[hiddenAction_威胁指数上调]
autoTriggerOnEvent:killedAnyUnit
addResources:威胁指数=0

[resource_脑波干扰T1]
displayName:脑波干扰T1
displayColor:#66B3FF
hidden:false
[hiddenAction_脑波干扰T11]
autoTrigger:if self.resource.脑波干扰T1==0
setUnitStats:shootDelayMultiplier=1
[hiddenAction_脑波干扰T12]
autoTrigger:if self.resource.脑波干扰T1>0
setUnitStats:shootDelayMultiplier=2
addResources:脑波干扰T1=-1
[resource_脑波干扰T2]
displayName:脑波干扰T2
displayColor:#66B3FF
hidden:false
[hiddenAction_脑波干扰T21]
autoTrigger:if self.resource.脑波干扰T2==0
setUnitStats:shootDelayMultiplier=1
[hiddenAction_脑波干扰T22]
autoTrigger:if self.resource.脑波干扰T2>0
setUnitStats:shootDelayMultiplier=4
addResources:脑波干扰T2=-1

[global_resource_威胁指数]
hidden:false
displayName:威胁指数
displayColor:#FF0000
priority:1
[global_resource_战争指数]
hidden:false
displayName:战争指数
displayColor:#3AFF00
priority:1
[global_resource_帝国资源高级反应站]
hidden:true
displayName:帝国资源高级反应站
displayColor:#01000000
[global_resource_帝国资源究级反应站]
hidden:true
displayName:帝国资源究级反应站
displayColor:#01000000
[resource_驱逐帝国]
hidden:true
displayName:驱逐帝国
[resource_驱逐联邦]
hidden:true
displayName:驱逐联邦
[resource_驱逐VZ]
hidden:true
displayName:驱逐VZ
[global_resource_选1]
hidden:true
displayNameShort:选1
[global_resource_选2]
hidden:true
displayNameShort:选2
[global_resource_选3]
hidden:true
displayNameShort:选3
[global_resource_选4]
hidden:true
displayNameShort:选4
[global_resource_选5]
hidden:true
displayNameShort:选5
[global_resource_选6]
hidden:true
displayNameShort:选6
[hiddenAction_总时间]
autoTrigger:true
setResourcesWithLogic:"""
秒=int(createMarker(x=0,y=0).timeAlive%60),
分=int((createMarker(x=0,y=0).timeAlive%3600)/60),
时=int((createMarker(x=0,y=0).timeAlive%86400)/3600),
天=int(createMarker(x=0,y=0).timeAlive/86400)
"""
[global_resource_秒]
hidden:true
displayName:
displayPrefixInHUD::
displayPostfixInHUD:]
displayWhenZero:true
displayColor:#409A50
stackHorizontal:true
[global_resource_分]
@copyFromSection:global_resource_秒
appendResourceInHUD:秒
displayPostfixInHUD:
[global_resource_时]
@copyFromSection:global_resource_秒
appendResourceInHUD:分
displayPostfixInHUD:
[global_resource_天]
@copyFromSection:global_resource_秒
displayPos:-99999
hidden:false
displayPrefixInHUD:Time:[
displayPrefixInHUD_zh:时间:[
displayPostfixInHUD:
appendResourceInHUD:时